<% if posts.any? %>
  <ul class="list-unstyled mt-2">
    <% posts.each do |post| %>
      <li class="d-flex">
        <img class="rounded me-2 mb-5" src="<%= gravatar_url(post.user, { size: 64 }) %>" alt="">
        <div>
          <div>
            <%= post.user.room %> <span class="text-muted"> <%= post.created_at.to_s(:datetime_jp) %></span>
          </div>
          <div>
            <p><%= post.content %></p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>